<p-toast></p-toast>
<div class="card" style="margin: 0 20px; overflow: hidden;">
  <div class="mb-2 ml-auto z-0" style="display: flex; gap: 10px;">
    <p-button icon="pi pi-plus" (click)="showAddRoleDialog()" [raised]="true" severity="primary"></p-button>
  </div>

  <p-table
    #dtRoles
    [value]="roles"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['roleName', 'permissions']"
  >

    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button 
          label="Clear" 
          [outlined]="true" 
          icon="pi pi-filter-slash" 
          (click)="clear(dtRoles)">
        </p-button>
        <span class="p-input-icon-left ml-auto" style="border: 1px solid #ccc; border-radius: 4px; padding: 2px;">
          <i class="pi pi-search" style="margin-left: 8px;"></i>
          <input 
            pInputText 
            type="text" 
            (input)="dtRoles.filterGlobal($event.target.value, 'contains')" 
            placeholder="Search keyword"
            class="p-inputtext-sm" 
            style="width: 15rem; padding-left: 3rem; border: none; outline: none; background: transparent; margin-left: 5px;">
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 30%">
          <div class="flex align-items-center">
            Role Name
            <p-columnFilter type="text" field="roleName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 60%">
          <div class="flex align-items-center">
            Permissions
            <p-columnFilter type="text" field="permissions" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 10%; text-align: center;">
          <div style="display: flex; justify-content: center; align-items: center;">
            Actions
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-role>
      <tr>
        <td>{{ role.roleName }}</td>
        <td>
          <ul>
            <li *ngFor="let permission of role.permissions">{{ permission.type }}</li>
          </ul>
        </td>
        <td>
          <div class="button-container" style="display: flex; gap: 0.5rem;">
            <p-button pTooltip="Edit" (click)="editRole(role)" icon="pi pi-pencil" [text]="true" [plain]="true"></p-button>
            <p-button pTooltip="Delete" (click)="deleteRole(role)" icon="pi pi-trash" [text]="true" [plain]="true"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">No roles found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <p-dialog [(visible)]="addRoleDialogVisible" [modal]="true" [closable]="false" header="Add Role" [responsive]="true" [style]="{width: '60vw'}">
  <app-add-role (dialogClose)="onAddRoleDialogClose()"></app-add-role>
</p-dialog> -->
<p-confirmDialog></p-confirmDialog>
