<google-map [center]="center" [zoom]="zoom" height="400px" width="100%">
    <ng-container *ngFor="let marker of markers">
      <map-marker [position]="marker.position"
                  [label]="marker.label"
                  #markerRef="mapMarker"
                  (mapClick)="openInfoWindow(infoWindow, markerRef)">
      </map-marker>
      <map-info-window #infoWindow>
        <strong>{{ marker.label }}</strong>
        <div>{{ marker.info }}</div>
      </map-info-window>
    </ng-container>
  </google-map>
  