
<p-toast></p-toast>
<div style="background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.1); display: flex; padding: 20px;">
    <div style="flex: 2; padding-left: 20px;">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; padding: 10px;">
            <div>
                <strong>Title</strong>
                <input pInputText type="text" [(ngModel)]="courses.title" (ngModelChange)="onFieldChange()" placeholder="Title"
                       style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;">
            </div>
            <div>
                <strong>Description:</strong>
                <textarea pInputTextarea rows="1" [(ngModel)]="courses.description" (ngModelChange)="onFieldChange()" placeholder="Description"
                          style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;"></textarea>
            </div>
            <div>
                <strong>Start Date:</strong>
                <input type="date" [(ngModel)]="courses.startDate" (ngModelChange)="onFieldChange()" placeholder="Start Date"
                     style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;">
            </div>
            <div>
                <strong>End Date:</strong>
                <input type="date" [(ngModel)]="courses.endDate" (ngModelChange)="onFieldChange()" placeholder="End Date"
                     style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;">
            </div>
            <div>
                <strong>Key date:</strong>
                <input pInputText type="text" [(ngModel)]="courses.keyDates" (ngModelChange)="onFieldChange()" placeholder="Key Dates"
                       style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;">
            </div>
            <div>
                <strong>Events</strong>
                <input pInputText type="text" [(ngModel)]="courses.events" (ngModelChange)="onFieldChange()" placeholder="Events"
                       style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;">
            </div>
            <div>
                <strong>Agreements</strong>
                <input pInputText type="text" [(ngModel)]="courses.agreements" (ngModelChange)="onFieldChange()" placeholder="Agreements"
                       style="border: 1px solid #ccc; padding: 8px; border-radius: 4px; width: 100%;">
            </div>
        </div>
    </div>
</div>

<p-footer style="display: flex; justify-content: flex-end; padding: 0 20px; margin-top: 20px;">
    <button *ngIf="showSaveButton" pButton type="button" label="Save Changes" (click)="saveChanges()" style="margin-right: 10px;"></button>
    <button pButton type="button" label="Close" icon="pi pi-times" (click)="closeDialog()" style="margin-right: 10px;"></button>
</p-footer>
