<p-toast></p-toast>
<div class="card" style="margin: 0 20px; overflow: hidden;">
  <div class="mb-2 ml-auto z-0" style="display: flex; gap: 10px;">
    <p-button icon="pi pi-plus" (click)="showAddDialog()" [raised]="true" severity="primary"></p-button>

    <app-download [class.hidden]="downloadSelectedMode" (downloadSelectedStudentsEvent)="downloadSelectedStudents()"></app-download>
    <p-button 
      label="Download Selected Students" 
      icon="pi pi-download" 
      [raised]="true" 
      severity="secondary" 
      (click)="downloadSelectedStudents()" 
      *ngIf="downloadSelectedMode">
    </p-button>
    <p-button 
      icon="pi pi-times" 
      severity="danger" 
      [raised]="true" 
      (click)="exitSelectionMode()" 
      *ngIf="downloadSelectedMode">
    </p-button>
  </div>

  <p-table
    #dt1
    [value]="tasks"
    [selectionMode]="downloadSelectedMode ? 'checkbox' : null"
    [(selection)]="selectedTask"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['id', 'name', 'date', 'status', 'FullName','StudentId']">
    

    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button 
          label="Clear" 
          [outlined]="true" 
          icon="pi pi-filter-slash" 
          (click)="clear(dt1)">
        </p-button>
        <span class="p-input-icon-left ml-auto" style="border: 1px solid #ccc; border-radius: 4px; padding: 2px;">
          <i class="pi pi-search" style="margin-left: 8px;"></i>
          <input 
            pInputText 
            type="text" 
            (input)="dt1.filterGlobal($event.target.value, 'contains')" 
            placeholder="Search keyword"
            class="p-inputtext-sm" 
            style="width: 15rem; padding-left: 3rem; border: none; outline: none; background: transparent; margin-left: 5px;">
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="downloadSelectedMode">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width: 12%">
          <div class="flex align-items-center">
            ID
            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 12%">
          <div class="flex align-items-center">
            Name
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 12%">
            <div class="flex align-items-center">
                Date
              <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 12%">
            <div class="flex align-items-center">
             Completed
              <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 12%">
            <div class="flex align-items-center">
                Student Name
              <p-columnFilter type="text" field="FullName" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 12%">
            <div class="flex align-items-center">
                Student Id
              <p-columnFilter type="text" field="StudentId" display="menu"></p-columnFilter>
            </div>
          </th>
        <th style="min-width: 10%; text-align: center;">
          <div style="display: flex; justify-content: center; align-items: center;">
            Actions
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tasks>
      <tr>
        <td *ngIf="downloadSelectedMode">
          <p-tableCheckbox [value]="tasks"></p-tableCheckbox>
        </td>
        <td>{{ tasks.id }}</td>
        <td>{{ tasks.name }}</td>
        <td style="padding: 0; line-height: normal;">
            <div [ngStyle]="{
                  'border': !tasks.status && isBeforeToday(tasks.date) ? '2px solid red' : 'none',
                  'display': 'inline-block',
                  'padding': '2px 10px',
                  'border-radius': '20px',
                  'vertical-align': 'middle'
                }"
                [pTooltip]="!tasks.status && isBeforeToday(tasks.date) ? 'Passed due date' : ''"
                tooltipPosition="top">
              {{ tasks.date | date: 'dd-MM-yyyy' }}
            </div>
          </td>
          
          
      
        <td>
            <i *ngIf="tasks.status; else showCross" class="pi pi-check" pTooltip="Task completed" tooltipPosition="top"></i>
            <ng-template #showCross>
              <i class="pi pi-times" pTooltip="Task not completed" tooltipPosition="top"></i>
            </ng-template>
          </td>
        <td>{{ tasks.FullName }}</td>
        <td>{{ tasks.StudentId }}</td>
        <td>
          <div class="button-container" style="display: flex; gap: 0.5rem;">
            <p-button pTooltip="Edit" (click)="showEditDialog(tasks)" icon="pi pi-pencil" [text]="true" [plain]="true"></p-button>
            <p-button pTooltip="Delete" (click)="deleteTasks(tasks)" icon="pi pi-trash" [text]="true" [plain]="true"></p-button>
            <p-button pTooltip="Navigate to" (click)="op.toggle($event)" icon="pi pi-ellipsis-v"  [text]="true" [plain]="true"></p-button>
            <p-overlayPanel #op>
              <div>
                <ul class="list-none p-0 m-0 flex flex-column gap-3">
                  <li *ngFor="let option of options" class="flex align-items-center gap-2" 
                  (click)="navigateToMemberPage(option, tasks.id)"
                  style="cursor: pointer; transition: background-color 0.3s, transform 0.3s;">

                    <div>
                      <span class="font-medium">{{ option.name }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </p-overlayPanel>
          </div>
          
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No Tasks found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="dialogVisible" [modal]="true" [closable]="false" header="Edit Task" [responsive]="true" [style]="{width: '60vw'}">
    <app-edit-tasks 
    *ngIf="selectedTasks" 
    [tasks]="selectedTasks" 
    (dialogClose)="onDialogClose($event)">
    </app-edit-tasks>
  </p-dialog>

  <p-dialog [(visible)]="addDialogVisible" [modal]="true" [closable]="false" header="Add Task" [responsive]="true" [style]="{width: '60vw' ,height:'68vh'}">
    <app-add-tasks (dialogClose)="onAddDialogClose()"></app-add-tasks>
  </p-dialog>
<p-confirmDialog></p-confirmDialog>