<p-toast></p-toast>

<p-dropdown
  *ngIf="!roleSelected"
  [options]="roles"
  [(ngModel)]="selectedRoleId"
  optionLabel="roleName"
  optionValue="id"
  placeholder="Select a Role"
  [style]="{width: '200px'}"
  appendTo="body"
  (onChange)="onRoleSelect()">
</p-dropdown>

<p-table *ngIf="roleData.length > 0" [value]="roleData" styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
      <tr>
          <th>Role Name</th>
          <th>Permissions</th>
          <th>Admin</th>
          <th>Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-role let-rowIndex="rowIndex">
      <tr>
          <td>{{ role.roleName }}</td>
          <td>
            <ng-container *ngFor="let permission of role.permissions">
              {{ permission.type }} - {{ permission.pageName }}<br/>
            </ng-container>
          </td>
          <td>
              <p-dropdown
                [options]="getAvailableAdmins(rowIndex)"
                [(ngModel)]="selectedAdminIds[rowIndex]"
                optionLabel="label"
                optionValue="value"
                placeholder="Select an Admin"
                [style]="{width: '200px'}"
                appendTo="body"
                (onChange)="onAdminSelect(rowIndex)">
              </p-dropdown>
          </td>
          <td>
              <p-button icon="pi pi-plus" (click)="addRow()"></p-button>
          </td>
      </tr>
  </ng-template>
</p-table>
<div style="display: flex; justify-content: flex-end; padding: 20px; border-top: 1px solid #eee;">
  <p-button
    label="Assign Roles"
    icon="pi pi-check"
    (click)="assignRoles()"
    [disabled]="!selectedAdminIds[0] || !selectedRoleId"
    style="margin-right: 10px;">
  </p-button>
  <p-button 
    type="button" 
    label="Close" 
    icon="pi pi-times" 
    (click)="closeDialog()">
  </p-button>
</div>



