<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
        <div class="flex flex-column h-full">
            <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
                <span class="inline-flex align-items-center gap-2">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy7nFdX1g_CVR4WyP5LgKOGytP0J8PE53_RQ&s" alt="Logo" class="block mx-auto" width="33" height="35">
                    <span class="font-semibold text-2xl text-primary">Admin Portal</span>
                </span>
                <span>
                    <p-button type="button" (click)="closeSidebar()" icon="pi pi-times" rounded="true" outlined="true" styleClass="h-2rem w-2rem"></p-button>
                </span>
            </div>
            <div class="overflow-y-auto" style="overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none;">
                <ul class="list-none p-3 m-0" style="list-style: none; padding: 1rem; margin: 0;">
                    <li>

                        <a (click)="handleRouteClick('/home')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/home') ? '#e0e0e0' : '' }">
                            <i class="pi pi-home mr-2"></i>
                            <span class="font-medium">Home</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/managestudent')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/managestudent') ? '#e0e0e0' : '' }">
                            <i class="pi pi-users mr-2"></i>
                            <span class="font-medium">Manage Students</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/Programs')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/Programs') ? '#e0e0e0' : '' }">
                            <i class="fa fa-graduation-cap mr-2"></i>
                            <span class="font-medium">Programs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/culturalevents')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/culturalevents') ? '#e0e0e0' : '' }">
                            <i class="fa fa-calendar-alt mr-2"></i>
                            <span class="font-medium">Cultural Events</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/accomodations')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/accomodations') ? '#e0e0e0' : '' }">
                            <i class="pi pi-building mr-2"></i>
                            <span class="font-medium">Accommodations</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/cityHandbook')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/cityHandbook') ? '#e0e0e0' : '' }">
                            <i class="pi pi-map mr-2"></i>
                            <span class="font-medium">City Handbook</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="handleRouteClick('/OrientationFile')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/OrientationFile') ? '#e0e0e0' : '' }">
                            <i class="fas fa-chalkboard-teacher mr-2"></i>
                            <span class="font-medium">Orientation File</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/courses')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/courses') ? '#e0e0e0' : '' }">
                            <i class="pi pi-book mr-2"></i>
                            <span class="font-medium">Courses</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/keyprogramdates')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/keyprogramdates') ? '#e0e0e0' : '' }">
                            <i class="fa fa-calendar-check mr-2"></i>
                            <span class="font-medium">Key Program Dates</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/trips')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/trips') ? '#e0e0e0' : '' }">
                            <i class="fa fa-plane mr-2"></i>
                            <span class="font-medium">Trips</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/FAQs')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/FAQs') ? '#e0e0e0' : '' }">
                            <i class="pi pi-question-circle mr-2"></i>
                            <span class="font-medium">FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="handleRouteClick('/settings')"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            [ngStyle]="{ 'background-color': isActive('/settings') ? '#e0e0e0' : '' }">
                            <i class="pi pi-cog mr-2"></i>
                            <span class="font-medium">Settings</span>
                        </a>
                    </li>

            
                    <li>
                        <a (click)="logout()"
                            pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-sign-out mr-2"></i>
                            <span class="font-medium">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mt-auto">
                <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
                <a routerLink="/profile" routerLinkActive="active-link" pRipple class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                    <p-avatar [image]="user.imageUrl" shape="circle"></p-avatar>
                    <span class="font-bold">{{ user?.fname }} {{ user?.lname }}</span>
                </a>
            </div>
        </div>
    </ng-template>
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
