<p-toast></p-toast>
<p-confirmPopup>
  <ng-template pTemplate="content" let-message>
    <div class="card flex justify-content-center">
      <p-stepper [(activeStep)]="active">
        
        <!-- Step 1: Create Account -->
        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{'bg-primary border-primary': index <= active, 'surface-border': index > active}">
                <i class="pi pi-user"></i>
              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem">
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Create your account</div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-user"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="fname" pInputText id="inputFirstName" type="text" placeholder="First Name" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-user"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="lname" pInputText id="inputLastName" type="text" placeholder="Last Name" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-envelope"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="email" pInputText id="inputEmail" type="email" placeholder="Email" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-lock"></i>
                  </p-inputIcon>
                  <p-password [(ngModel)]="password" [toggleMask]="true" placeholder="Password"></p-password>
                </p-iconField>
              </div>
            </div>
            <div class="flex pt-4 justify-content-end">
              <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right"></p-button>
            </div>
          </ng-template>
        </p-stepperPanel>

        <!-- Step 2: Choose Interests -->
        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{'bg-primary border-primary': index <= active, 'surface-border': index > active}">
                <i class="pi pi-star"></i>
              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem">
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Additional Information</div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-calendar"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="dob" pInputText id="inputDateOfBirth" type="date" placeholder="Date Of Birth" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-heart-fill"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="bloodGroup" pInputText id="inputBloodGroup" type="text" placeholder="Blood Group" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-dropdown [options]="genders" [(ngModel)]="selectedGender" placeholder="Select Gender" id="inputGender"
                    optionLabel="label">
                    <ng-template let-gender pTemplate="item">
                      <div class="p-d-flex p-ai-center">
                        <i [ngClass]="gender.icon" class="p-mr-2"></i>
                        <span>{{gender.label}}</span>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-address-book"></i>
                  </p-inputIcon>
                  <textarea [(ngModel)]="address" pInputTextarea id="inputAddress" rows="4" placeholder="Enter your address"></textarea>
                </p-iconField>
              </div>
            </div>
            <div class="flex pt-4 justify-content-end">
              <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right"></p-button>
            </div>
          </ng-template>
        </p-stepperPanel>

        <!-- Step 3: Account Created -->
        <p-stepperPanel>
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <button class="bg-transparent border-none inline-flex flex-column gap-2" (click)="onClick.emit()">
              <span
                class="border-round border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{'bg-primary border-primary': index <= active, 'surface-border': index > active}">
                <i class="pi pi-id-card"></i>
              </span>
            </button>
          </ng-template>
          <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem">
              <div class="text-center mt-3 mb-3 text-xl font-semibold">Emergency Info</div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-utensils"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="dietaryPreference" pInputText id="inputDietaryPreference" type="text"
                    placeholder="Dietary Preference" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-user"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="emergencyContactName" pInputText id="inputEmergencyContactName" type="text"
                    placeholder="Emergency Contact Name" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-phone"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="emergencyContactNumber" pInputText id="inputEmergencyContactNumber" type="text"
                    placeholder="Emergency Contact Number" />
                </p-iconField>
              </div>
              <div class="field p-fluid">
                <p-iconField>
                  <p-inputIcon>
                    <i class="pi pi-users"></i>
                  </p-inputIcon>
                  <input [(ngModel)]="emergencyContactRelation" pInputText id="inputEmergencyContactRelation" type="text"
                    placeholder="Emergency Contact Relation" />
                </p-iconField>
              </div>
            </div>
            <div class="flex pt-4 justify-content-end">
              <p-button (onClick)="nextCallback.emit()" label="Next" icon="pi pi-arrow-right" iconPos="right"></p-button>
            </div>
          </ng-template>
        </p-stepperPanel>

      </p-stepper>
    </div>
  </ng-template>
</p-confirmPopup>

<p-button (click)="confirm($event)" icon="pi pi-user-plus" label="Confirm"></p-button>
