<p-toast></p-toast>
<div class="card" style="margin: 0 20px; overflow: hidden;">
  <div class="mb-2 ml-auto z-0" style="display: flex; gap: 10px;">
    <p-button icon="pi pi-plus" (click)="showAddDialog()" [raised]="true" severity="primary"></p-button>

    <app-download [class.hidden]="downloadSelectedMode" (downloadSelectedStudentsEvent)="downloadSelectedStudents()"></app-download>
    <p-button 
      label="Download Selected Students" 
      icon="pi pi-download" 
      [raised]="true" 
      severity="secondary" 
      (click)="downloadSelectedStudents()" 
      *ngIf="downloadSelectedMode">
    </p-button>
    <p-button 
      icon="pi pi-times" 
      severity="danger" 
      [raised]="true" 
      (click)="exitSelectionMode()" 
      *ngIf="downloadSelectedMode">
    </p-button>
  </div>

  <p-table
    #dt1
    [value]="accomodations"
     [selectionMode]="downloadSelectedMode ? 'checkbox' : null"
    [(selection)]="selectedAccomodation"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['id', 'roomNumber', 'buildingName', 'floor', 'isSingleOccupancy', 'numberOfRoommates','roommateNames','hostfamily','roommateNumber']">
    

    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button 
          label="Clear" 
          [outlined]="true" 
          icon="pi pi-filter-slash" 
          (click)="clear(dt1)">
        </p-button>
        <span class="p-input-icon-left ml-auto" style="border: 1px solid #ccc; border-radius: 4px; padding: 2px;">
          <i class="pi pi-search" style="margin-left: 8px;"></i>
          <input 
            pInputText 
            type="text" 
            (input)="dt1.filterGlobal($event.target.value, 'contains')" 
            placeholder="Search keyword"
            class="p-inputtext-sm" 
            style="width: 15rem; padding-left: 3rem; border: none; outline: none; background: transparent; margin-left: 5px;">
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="downloadSelectedMode">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width: 12%">
          <div class="flex align-items-center">
            ID
            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 12%">
          <div class="flex align-items-center">
            Room Number
            <p-columnFilter type="text" field="roomNumber" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15%">
          <div class="flex align-items-center">
            Building Name
            <p-columnFilter type="text" field="buildingName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15%">
            <div class="flex align-items-center">
              Floor
              <p-columnFilter type="text" field="floor" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15%">
            <div class="flex align-items-center">
                Single Occupancy
              <p-columnFilter type="text" field="isSingleOccupancy" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15%">
            <div class="flex align-items-center">
                Number Of Roommates
              <p-columnFilter type="text" field="numberOfRoommates" display="menu"></p-columnFilter>
            </div>
          </th>
        <th style="min-width: 15%">
          <div class="flex align-items-center">
            Roommate Names
            <p-columnFilter type="text" field="roommateNames" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15%">
          <div class="flex align-items-center">
            Host Family
            <p-columnFilter type="text" field="hostfamily" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15%">
          <div class="flex align-items-center">
            Roommate Number
            <p-columnFilter type="text" field="roommateNumber" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 10%; text-align: center;">
          <div style="display: flex; justify-content: center; align-items: center;">
            Actions
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-accomodation>
      <tr>
        <td *ngIf="downloadSelectedMode">
          <p-tableCheckbox [value]="accomodation"></p-tableCheckbox>
        </td>
        <td>{{ accomodation.id }}</td>
        <td>{{ accomodation.roomNumber }}</td>
        <td>{{ accomodation.buildingName }}</td>
        <td>{{ accomodation.floor }}</td>
        <td>{{ accomodation.isSingleOccupancy }}</td>
        <td>{{ accomodation.numberOfRoommates}}</td>
        <td>
          <!-- Check if roommateNames exists and is not empty -->
          <ng-container *ngIf="accomodation.roommateNames && accomodation.roommateNames.length; else singleOccupancy">
            <!-- Display each roommate name on a new line -->
            <div *ngFor="let name of accomodation.roommateNames.split(',')">
              {{ name }}
            </div>
          </ng-container>
          <!-- Fallback if no roommate names are provided -->
          <ng-template #singleOccupancy>
            Single Occupancy
          </ng-template>
        </td>
          <td>
            <!-- Check if roommateNames exists and is not empty -->
          <ng-container *ngIf="accomodation.roommateNames && accomodation.roommateNames.length; else singleOccupancy">
            <!-- Display each roommate name on a new line -->
            <div *ngFor="let name of accomodation.roommateNames.split(',')">
              {{ name }}
            </div>
          </ng-container>
          <!-- Fallback if no roommate names are provided -->
          <ng-template #singleOccupancy>
            Single Occupancy
          </ng-template>
          </td>
          <td>
            <!-- Check if roommateNumber exists and is not empty -->
            <ng-container *ngIf="accomodation.roommateNumber && accomodation.roommateNumber.length; else singleOccupancy">
              <!-- Display each roommate name on a new line -->
              <div *ngFor="let number of accomodation.roommateNumber.split(',')">
                {{ number }}
              </div>
            </ng-container>
            <!-- Fallback if no roommate names are provided -->
            <ng-template #singleOccupancy>
              Single Occupancy
            </ng-template>
          </td>
          <td>
            <div class="button-container" style="display: flex; gap: 0.5rem;">
              <p-button (click)="showEditDialog(accomodation)" icon="pi pi-pencil" [text]="true" [plain]="true"></p-button>
              <p-button (click)="showAssignDialog(accomodation.id)" icon="pi pi-user-plus" [text]="true" [plain]="true"></p-button>
              <p-button (click)="deleteAccomodation(accomodation)" icon="pi pi-trash" [text]="true" [plain]="true"></p-button>
          <p-button (click)="op.toggle($event)" icon="pi pi-ellipsis-v"  [text]="true" [plain]="true"></p-button>

            <p-overlayPanel #op>
              <div>
                <ul class="list-none p-0 m-0 flex flex-column gap-3">
                  <li *ngFor="let option of options" class="flex align-items-center gap-2" 
                  (click)="navigateToMemberPage(option, accomodation.id)"
                  style="cursor: pointer; transition: background-color 0.3s, transform 0.3s;">

                    <div style="cursor: pointer; transition: background-color 0.3s, transform 0.3s;">
                      <span class="font-medium" >{{ option.name }}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </p-overlayPanel>
            </div>
        </td>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No Cultural Events found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="dialogVisible" [modal]="true" [closable]="false" header="Edit Accomodations" [responsive]="true" [style]="{width: '60vw'}">
  <app-edit-accomodation 
    *ngIf="selectedAccomodations" 
    [accomodation]="selectedAccomodations" 
    (dialogClose)="onDialogClose($event)">
  </app-edit-accomodation>
</p-dialog>
<p-dialog header="Assign Event" [(visible)]="assignDialogVisible" [modal]="true" [style]="{'width': '50vw'}" [closable]="false">
  <app-assign-accomodation [accomodationId]="selectedAccomodationId" (dialogClose)="onAssignDialogClose()"></app-assign-accomodation>
</p-dialog>

  <!-- <app-add-student *ngIf="!downloadSelectedMode"></app-add-student> -->
  <p-dialog [(visible)]="addDialogVisible" [modal]="true" [closable]="false" header="Add Accomodation" [responsive]="true" [style]="{width: '60vw' ,height:'68vh'}">
    <app-add-accomodation (dialogClose)="onAddDialogClose()"></app-add-accomodation>
  </p-dialog>
<p-confirmDialog></p-confirmDialog>
