<p-toast></p-toast>
<div class="card" style="margin: 0 20px; overflow: hidden;">
  <div class="mb-2 ml-auto z-0" style="display: flex; gap: 10px;">
    <app-download [class.hidden]="downloadSelectedMode" (downloadSelectedStudentsEvent)="downloadSelectedStudents()"></app-download>
    <p-button 
      label="Download Selected Students" 
      icon="pi pi-download" 
      [raised]="true" 
      severity="secondary" 
      (click)="downloadSelectedStudents()" 
      *ngIf="downloadSelectedMode">
    </p-button>
    <p-button 
      icon="pi pi-times" 
      severity="danger" 
      [raised]="true" 
      (click)="exitSelectionMode()" 
      *ngIf="downloadSelectedMode">
    </p-button>
  </div>

  <p-table
    #dt1
    [value]="accomodations"
    [selectionMode]="downloadSelectedMode ? 'checkbox' : null"
    [(selection)]="selectedAccomodation"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['id', 'roomNumber', 'buildingName', 'floor', 'isSingleOccupancy', 'numberOfRoommates','roommateNames']">
    

    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button 
          label="Clear" 
          [outlined]="true" 
          icon="pi pi-filter-slash" 
          (click)="clear(dt1)">
        </p-button>
        <span class="p-input-icon-left ml-auto" style="border: 1px solid #ccc; border-radius: 4px; padding: 2px;">
          <i class="pi pi-search" style="margin-left: 8px;"></i>
          <input 
            pInputText 
            type="text" 
            (input)="dt1.filterGlobal($event.target.value, 'contains')" 
            placeholder="Search keyword"
            class="p-inputtext-sm" 
            style="width: 15rem; padding-left: 3rem; border: none; outline: none; background: transparent; margin-left: 5px;">
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="downloadSelectedMode">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="min-width: 12%">
          <div class="flex align-items-center">
            ID
            <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 12%">
          <div class="flex align-items-center">
            Room Number
            <p-columnFilter type="text" field="roomNumber" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15%">
          <div class="flex align-items-center">
            Building Name
            <p-columnFilter type="text" field="buildingName" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="min-width: 15%">
            <div class="flex align-items-center">
              Floor
              <p-columnFilter type="text" field="floor" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15%">
            <div class="flex align-items-center">
                Single Occupancy
              <p-columnFilter type="text" field="isSingleOccupancy" display="menu"></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15%">
            <div class="flex align-items-center">
                Number Of Roommates
              <p-columnFilter type="text" field="numberOfRoommates" display="menu"></p-columnFilter>
            </div>
          </th>
        <th style="min-width: 15%">
          <div class="flex align-items-center">
            Roommate Names
            <p-columnFilter type="text" field="roommateNames" display="menu"></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-accomodation>
      <tr>
        <td *ngIf="downloadSelectedMode">
          <p-tableCheckbox [value]="accomodation"></p-tableCheckbox>
        </td>
        <td>{{ accomodation.id }}</td>
        <td>{{ accomodation.roomNumber }}</td>
        <td>{{ accomodation.buildingName }}</td>
        <td>{{ accomodation.floor }}</td>
        <td>{{ accomodation.isSingleOccupancy }}</td>
        <td>{{ accomodation.numberOfRoommates}}</td>
        <td>
            <!-- Show "It is Single Occupancy" if roommateNames is empty -->
            {{ accomodation.roommateNames ? accomodation.roommateNames : 'It is Single Occupancy' }}
          </td>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="13">No Cultural Events found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
